._.DS_Store
.DS_Store
.osiris_pid
.shutdown_pid
.terminal
build-impl.xml~
Thumbs.db
*.lnk

/**/dist
/**/build
/**/build.xml
/**/nbproject/private
/**/nbproject/build-impl.xml~
/**/nbproject/genfiles.properties
/**/nbproject/groovy-build.xml
/**/.terminal
/**/Thumbs.db
/client/rameses-seti/nbproject/private/
/client/rameses-seti-support/nbproject/private/
/client/rameses-seti/build/
/client/rameses-seti/dist/
/client/rameses-seti-support/dist/
/client/rameses-seti-support/build/